.main {
  min-height: 90vh;
  display: flex;
  padding: 0 4rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: medium;
  color: #333333;
}

.footer {
  display: flex;
  padding: 2rem 0;
  margin: 0 2rem;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color: lightgray;
}

.title {
  font-weight: 700;
}

.image {
  width: 65%;
  height: 50%;
  margin-left: 5%;
}

.title {
  font-size: 2rem;
  margin: 2rem 0;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.3rem;
}

.button {
  border-radius: 4px;
  background-color: #2e186a;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 2%;
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image {
    padding-top: 2rem;
  }
}